body {
	background-color:			white;
	padding:				20px;
}

.all {
	background-color:			#eee;
	padding:				20px;
	border:					thin solid #999;
	clear:					right;
}

#logo {
	float:					left;
	background-color:			white;
	width:					200px;
	border:					thin solid #999;
	padding:				20px;
}

img {
	width:					80px;
	height:					80px;
	padding:				20px;
	border:					thin solid #999;
}

#logo span {
	vertical-align:				top;
}

#content {
	background-color:			white;
	border:					thin solid #999;
	padding:				20px;
	margin-left:				260px;
	margin-right:				180px;
}

aside {
	float:					right;
	background-color:			white;
	border:					thin solid #999;
	padding:				20px;
	width:					120px;
}

#only {
	clear:					right;
}
